#main
  .inner
    %header
      %h1
        Новости
        %br/
        Информационной безопасности
    %section.tiles
      #main
  .inner
    %h2 Лента
    - @feeds.each do |feed|
      %section
        %h3
          %a{href: feed.link, target: '_blank'}= feed.title
        %small= feed.pubDate
        %p= feed.description.gsub(/<a.*?>/,'').html_safe
        %hr/
=render 'shared/footer'